{{ header }}
<div class="full-width inner-page">
   <div  id="product-search" class="main-content container inner-page">
       <div class="background-content"></div>
       <div class="">
           <div class="shadow"></div>
           <div class="pattern">
               <div class="container">
               <div class="row">
                {% if not search %}
                  {{ column_left }}
                {% endif %}
                {% if column_left and column_right %}
                {% set class = 'col-sm-6' %}
                {% elseif column_left or column_right %}
                {% set class = 'col-sm-9' %}
                {% else %}
                {% set class = 'col-sm-12' %}
                {% endif %}

      <div  class="col-sm-{{ (search) ? '12' : '9' }} col-xs-12 ">
          <div class="manual-top-height"></div>
          {% include 'ceptz/template/custom/breadcrumb.twig' %}

          {%  if tag %}
              <h1 id="title-page" class="customPadding">{{ tag }}</h1>
              <div class="clearfix"></div>
              {% if products %}
              <div class="product-filter clearfix">

                  <span class="col-xs-4">({{ product_total }} records found)</span>
                  <a  class="col-xs-2 filter pointer MDhidden" onclick="openNav()" class="pointer"><icon class="fa fa-filter"></icon> Filter</a>
                  <div class="list-options col-xs-6">
                      <div class="sort">
                          <select id="input-sort" class="form-control" onchange="location = '/shop-by-solution/{{ tag }}/'+this.value;">
                              {% for sorts in sorts %}
                                  {% if sorts.value == '%s-%s'|format(sort, order) %}
                                      `                           <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                                  {% else %}
                                      <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                                  {% endif %}
                              {% endfor %}
                          </select>
                      </div>
                  </div>
              </div>

                  <div class="product-grid product-listing-grid active ">
                      <div class="row">
                          {% for product in products %}
                              <div class="col-sm-{{ (search) ? '2' : '3' }} col-xs-6">
                                  {% set right = 1  %}
                                  {% include 'ceptz/template/custom/product.twig' with product %}
                              </div>
                          {% endfor %}
                      </div>
                  </div>
              {%  else  %}
                  <div class="clearfix"></div>
                  <div class="product-filter clearfix">

                      {{ 'No Products Found' }}
                  </div>
              {% endif %}

          {% endif %}

          {% if search %}
          <div class="product-filter clearfix">


              <h1 id="title-page" class="customPadding">{{ heading_title }}</h1>
              <div class="options">
                  <div class="button-group display" data-toggle="buttons-radio" style="display: none;">
                      <button id="grid" class="active" rel="tooltip" title="Grid" onclick="display('grid');"><i class="fa fa-th-large"></i></button>
                      <button id="list" class="active" rel="tooltip" title="List" onclick="display('list');"><i class="fa fa-th-list"></i></button>
                  </div>
              </div>


              <div class="list-options">
                  <div class="sort">
                          {% if products %}
                          <select id="input-sort" class="form-control" onchange="location = this.value;">
                          {% for sorts in sorts %}
                              {% if sorts.value == '%s-%s'|format(sort, order) %}
                                  `<option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                              {% else %}
                                  <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                              {% endif %}
                          {% endfor %}
                      </select>
                      {% endif %}
                  </div>

              </div>

          </div>

            <!-- Products grid -->
          {% if products %}
          <div class="product-grid product-listing-grid active ">
              <div class="row">
                  {% for product in products %}
                      <div class="col-sm-{{ (search) ? '2' : '3' }} col-xs-6">
                          {% set right = 1  %}
                          {% include 'ceptz/template/custom/product.twig' with product %}
                      </div>
                  {% endfor %}
              </div>
          </div>
          {%  else  %}
          <div class="clearfix"></div>
          <div class="product-filter clearfix">

                {{ 'No Products Found' }}
          </div>
          {% endif %}


          {% endif %}


          <div class="clearfix"></div>
          <div class="row">
              <div class="col-sm-6 text-left">{{ pagination }}</div>
              <div class="col-sm-6 text-right">{{ results }}</div>
          </div>
      </div>
    {{ column_right }}</div>
</div>
</div>
</div>
</div>
</div>

{{ footer }}