<div class="full-width standard-spacing">
<div class="home-block container " >
    {% set width =301 %}
    {% set height =301 %}

<div class="row NoPadding category_block_chunk carve-product-grid" >
  <h2 class="centerAlign standard-spacing">DISCOVER THE BEAUTY WITHIN</h2>
    <div class="col-sm-3 col-xs-12 carve-product-block yellow-tile"> <a href="carve-uptown-round-neck-cap-sleeves-casual-top">
        <amp-img src="image/carve/BCAR00013/image/index.png" alt="Up Town" width="{{width}}" height="{{height}}" layout="responsive">
          <i-amphtml-sizer style="display: block;"></i-amphtml-sizer>
        </amp-img>
      </a>
  </div>
    <div class="col-sm-3 col-xs-12 carve-product-block blue-tile">
      <a href="carve-uptown-button-front-umbrella-sleeves-girls-top">
        <amp-img src="/image/carve/BCAR00005/image/index.png" alt="Up Town"  width="{{width}}" height="{{height}}" layout="responsive">
          <i-amphtml-sizer style="display: block;"></i-amphtml-sizer>
        </amp-img></a>
     </div>
    <div class="col-sm-3 col-xs-12 carve-product-block maroon-tile">
      <a href="carve-uptown-full-sleeves-round-neck-casual-top">
        <amp-img src="/image/carve/BCAR00009/image/index.png" alt="Up Town"  width="{{width}}" height="{{height}}" layout="responsive">
          <i-amphtml-sizer style="display: block;"></i-amphtml-sizer>
        </amp-img></a>

  </div>

    <div class="col-sm-3 col-xs-12 carve-product-block black-tile">
      <a  href="carve-uptown-layers-style-round-neck-casual-top" >
        <amp-img src="/image/carve/BCAR00001/image/index.png" alt="Up Town"  width="{{width}}" height="{{height}}" layout="responsive">
          <i-amphtml-sizer style="display: block;"></i-amphtml-sizer>
        </amp-img></a>

  </div>

    <div class="clearfix"></div>
    <div class="col-sm-3 col-xs-12 carve-product-block pink-tile">

      <a href="carve-eminence-full-sleeves-with-tie-style-girls-shirt">
        <amp-img src="/image/carve/emimence/CEM006/image/index.png" alt="Eminence"  width="{{width}}" height="{{height}}" layout="responsive">
          <i-amphtml-sizer style="display: block;"></i-amphtml-sizer>
        </amp-img></a>
  </div>

    <div class="col-sm-3 col-xs-12 carve-product-block peach-tile">
      <a href="carve-eminence-round-neck-long-sleeves-girls-shirt">
        <amp-img src="/image/carve/emimence/CEM004/image/index.png" alt="Eminence" width="{{width}}" height="{{height}}" layout="responsive">
          <i-amphtml-sizer style="display: block;"></i-amphtml-sizer>
        </amp-img></a>
    </div>

    <div class="col-sm-3 col-xs-12 carve-product-block green-tile">
      <a href="carve-eminence-long-sleeves-jewel-neck-girls-shirt">
        <amp-img src="/image/carve/emimence/CEM005/image/index.png" alt="Eminence"   width="{{width}}" height="{{height}}" layout="responsive">
          <i-amphtml-sizer style="display: block;"></i-amphtml-sizer>
        </amp-img></a>
  </div>


  <div class="col-sm-3 col-xs-12 carve-product-block volite-tile">
    <a href="carve-eminence-crew-neckline-slit-sleeves-girls-shirt">
      <amp-img src="/image/carve/emimence/CEM003/image/index.png" alt="Eminence"  width="{{width}}" height="{{height}}" layout="responsive">
        <i-amphtml-sizer style="display: block;"></i-amphtml-sizer>
      </amp-img></a>
  </div>

    <div class="clearfix"></div>

    <div class="col-sm-3 col-xs-12 carve-product-block white-tile">
      <a href="carve-ivory-collar-neck-long-sleeves-girls-shirt">
        <amp-img src="/image/catalog/carve/CIV003/001.png" alt="Ivory"  width="{{width}}" height="{{height}}" layout="responsive">
          <i-amphtml-sizer style="display: block;"></i-amphtml-sizer>
        </amp-img></a>
    </div>

    <div class="col-sm-3 col-xs-12 carve-product-block beach-tile">
      <a href="carve-ivory-simple-notch-neckline-full-sleeves-formal-shirt">
        <amp-img src="/image/carve/ivory/CIV002/image/index.png" alt="Ivory"   width="{{width}}" height="{{height}}" layout="responsive">
          <i-amphtml-sizer style="display: block;"></i-amphtml-sizer>
        </amp-img></a>
  </div>

    <div class="col-sm-3 col-xs-12 carve-product-block white-tile">
      <a href="carve-ivory-simple-v-neckline-long-sleeves-girls-shirt">
        <amp-img src="/image/carve/ivory/CIV001/image/index.png" alt="Ivory" width="{{width}}" height="{{height}}" layout="responsive">
          <i-amphtml-sizer style="display: block;"></i-amphtml-sizer>
        </amp-img></a>
  </div>
    <div class="col-sm-3 col-xs-12 carve-product-block beach-tile">
      <a href="carve-ivory-button-front-with-formal-collar-neck-shirt">
      <amp-img src="/image/catalog/carve/CIV005/001.png" alt="Ivory"   width="{{width}}" height="{{height}}" layout="responsive">
        <i-amphtml-sizer style="display: block;"></i-amphtml-sizer>
      </amp-img></a>
  </div>



</div>
</div>
</div>
</div>