<div class="full-width">
<div class="home-block" >
 <div class="row NoPadding category_block_chunk" >
  <div class="col-sm-4 col-xs-12 carve-fashion-block ">
    <h2 class="CenterAlign carve-fashion-heading SMhidden "> CARVE - UPTOWN </h2>
   {% set width =600 %}
   {% set height =600 %}
  <a href="uptown" class="shopnow SMhidden" href="" > SHOP NOW</a>
   <a href="uptown">
    <amp-img src="/image/catalog/CARVE-FASHION-BANNR/uptown.jpg" alt="CARVE - UPTOWN"   width="{{ width }}" height="{{ height }}" layout="responsive">
     <i-amphtml-sizer style="display: block;"></i-amphtml-sizer>
    </amp-img>
  </a>

   <h2 class="CenterAlign carve-fashion-heading PADhidden MDhidden "> CARVE - UPTOWN </h2>
      {% set width =600 %}
      {% set height =600 %}
   <a href="uptown" class="shopnow PADhidden MDhidden" href="" > SHOP NOW</a>
  </div>
  <div class="col-sm-4 col-xs-12 carve-fashion-block  ">
   <h2 class="CenterAlign carve-fashion-heading PADhidden MDhidden SMhidden"> CARVE - EMINENCE </h2>
   <a href="eminence" class="shopnow PADhidden MDhidden SMhidden"> SHOP NOW</a>
   <a href="eminence"  >
    <amp-img  src="/image/catalog/CARVE-FASHION-BANNR/eminence.jpg" alt="CARVE - EMINENCE " width="{{ width }}" height="{{ height }}" layout="responsive">
     <i-amphtml-sizer style="display: block;"></i-amphtml-sizer>
    </amp-img>
   </a>
   <h2 class="CenterAlign carve-fashion-heading "> CARVE - EMINENCE </h2>

   <a href="eminence" class="shopnow"> SHOP NOW</a>
  </div>
  <div class="col-sm-4 col-xs-12 carve-fashion-block ">
   <h2 class="CenterAlign carve-fashion-heading SMhidden"> CARVE - IVORY </h2>

   <a class="shopnow SMhidden" href="ivory" > SHOP NOW</a>
   <a  href="ivory">
    <amp-img src="/image/catalog/CARVE-FASHION-BANNR/ivory.jpg" alt="CARVE - IVORY " c width="{{ width }}" height="{{ height }}" layout="responsive">
     <i-amphtml-sizer style="display: block;"></i-amphtml-sizer>
    </amp-img>
   </a>
   <h2 class="CenterAlign carve-fashion-heading PADhidden MDhidden"> CARVE - IVORY </h2>

   <a class="shopnow PADhidden MDhidden" href="ivory" > SHOP NOW</a>

  </div>
 </div>
</div>
</div>
</div>