<div class="full-width top_bottom_margin" >
    <div class="container home-block" >
        <div class="single" >
            {% for category in categories %}
                <div class="clearfix"></div>
                <h2 style="text-align: center;font-size:25px"><a href="{{ category.href}}">{{ category.name }}</a></h2>
                {% set i = 1 %}
                {% for child in category.children %}

                <div class="col-sm-2 col-xs-6">
                    <div class="categoryItem category_block">
                        <div class="Image">
                            <a href="{{ child.href}}"><img class="lazy" src="{{ child.image }}"  title="{{ child.name }}" alt="{{ child.name }}"/></a>
                        </div>
                        <div class="headingCaption">
                            <a style="text-align: center;display:flow-root" href="{{ child.href}}">{{ child.name}}</a>
                        </div>
                    </div>
                </div>
                {%  if i%6 == 0 %}
                    <div class="clearfix"></div>
                {% endif %}

                {% set i = i + 1 %}
                {% endfor %}
            {% endfor %}


        </div>
     </div>
     <div class="clearfix"></div>
</div>
