<ul class="megamenu shift-up">
    <li class="home"><a href="{{ base }}"><i class="fa fa-home"></i></a></li>
    <li class="with-sub-menu hover"><p class="close-menu"></p><p class="open-menu"></p>
        <a class="clearfix"><span>Nutrition Center</span></a>
             <div class="sub-menu" style="width:100%">
                <div class="content"><p class="arrow"></p>
                        <div class="row">
                           <div class="menu-department-heading SMhidden" >
                            <h4 class="mobile-enable ">  NUTRITION CENTER </h4>
                             <a href="{{ base }}nutrition" class="menu-sub-link menu-sub-link PADhidden" >Nutrition Center Home</a>
                            <div class="sep"></div>
                           </div>
                            <a href="{{ base }}nutrition" class="menu-heading department-home PADhidden MDhidden" >Nutrition Center Home</a>
                            <div class="col-sm-12  mobile-enabled mbl-menu-sub-link" >
                                <div class="col-sm-4 hover-menu">
                                    <a href="{{ base }}body_building_fitness" class="menu-heading" >BODYBUILDING  &amp; FITNESS</a>
                                    <a class="collapsible PADhidden MDhidden"><icon ></icon></a>
                                    <div class="menu contentJRM" >
                                        <ul>
                                            <li><a href="{{ base }}body_building_fitness/fat_burners"  class="main-menu ">FAT BURNER</a></li>
                                            <li><a href="{{ base }}body_building_fitness/intra_post_workout"  class="main-menu ">INTRA/POST WORKOUT</a></li>
                                            <li><a href="{{ base }}body_building_fitness/bodybuilding-multivitamins" class="main-menu ">MULTIVITAMIN</a></li>
                                            <li><a href="{{ base }}body_building_fitness/pre_workout" class="main-menu ">PRE WORKOUT</a></li>
                                            <li><a href="{{ base }}body_building_fitness//protein_powder"  class="main-menu ">PROTEIN POWDER</a></li>
                                            <li><a href="{{ base }}body_building_fitness/weight_gainers"  class="main-menu ">WEIGHT GAINERS</a></li>
                                            <li> <a href="{{ base }}body_building_fitness" class="menu-sub-link" >SHOP NOW > ></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-5 hover-menu"><a href="{{ base }}/vitamins_supplements" class="menu-heading">VITMANINS & SUPPLEMENTS</a>
                                    <a class="collapsible  PADhidden MDhidden"><icon ></icon></a>
                                    <div class="menu contentJRM" >
                                        <ul class="col-sm-8">
                                            <li><a href="{{ base }}vitamins_supplements/antioxidants" class="main-menu ">Antioxidants</a></li>
                                            <li><a href="{{ base }}vitamins_supplements/fish_oils__omegas"  class="main-menu ">Fish Oils & Omegas</a></li>
                                            <li><a href="{{ base }}vitamins_supplements/general_health_and_beauty" class="main-menu ">General Health and Beauty</a></li>
                                            <li><a href="{{ base }}vitamins_supplements/herbs" on class="main-menu ">Herbs</a></li>
                                            <li><a href="{{ base }}vitamins_supplements/joint_support" class="main-menu ">Joint Support</a></li>
                                            <li><a href="{{ base }}vitamins_supplements/minerals" class="main-menu ">Minerals</a></li>
                                            <li><a href="{{ base }}vitamins_supplements/multivitamins" class="main-menu ">Multivitamins </a></li>
                                        </ul>
                                        <ul class="col-sm-4">
                                            <li><a href="{{ base }}vitamins_supplements/vitamins_a-z" class="main-menu ">Vitamins A-Z</a></li>
                                            <li><a href="{{ base }}/vitamins_supplements" class="menu-sub-link">SHOP NOW >></a></li>
                                        </ul>

                                    </div>
                                </div>
                               <div class="col-sm-3 hover-menu"><a href="{{ base }}body_building_fitness" class="menu-heading">SHOP BY SOLUTION</a>
                                   <a class="collapsible  PADhidden MDhidden"><icon ></icon></a>
                                   <div class="menu contentJRM" >
                                       <ul>

                                           <li><a href="{{ base }}shop-by-solution/fat%20burning"  class="main-menu ">Fat Burning</a></li>
                                           <li><a href="{{ base }}shop-by-solution/joint%20health" class="main-menu ">Joint Health</a></li>
                                           <li><a href="{{ base }}shop-by-solution/general%20health" class="main-menu ">General Health</a></li>
                                           <li><a href="{{ base }}shop-by-solution/sports"  class="main-menu ">Sports</a></li>
                                           <li><a href="{{ base }}shop-by-solution/sleep" class="main-menu ">Sleep</a></li>
                                           <li><a href="{{ base }}shop-by-solution/endurance" class="main-menu ">Endurance</a></li>
                                           <li><a href="{{ base }}shop-by-solution/fat%20burning" class="main-menu menu-sub-link">SHOP NOW >> </a></li>

                                       </ul>
                                   </div>
                               </div>

                           </div>
                        </div>
                </div>
            </div>
    </li>
    <li class="with-sub-menu hover"><p class="close-menu"></p><p class="open-menu"></p>
        <a class="clearfix"><span>Graphic Tees</span></a>
        <div class="sub-menu" style="width:100%">
            <div class="content"><p class="arrow"></p>
                <div class="row">
                    <div class="menu-department-heading SMhidden" >
                        <h4 class="mobile-enable">  GRAPHIC TEES </h4>   <a href="{{ base }}graphic-tees" class="menu-sub-link menu-sub-link PADhidden" >Graphic Tees Home</a>
                    </div>
                    <a href="{{ base }}graphic-tees" class="menu-heading department-home MDhidden PADhidden" >Graphic Tees Home</a>
                     <div  class="col-sm-12  mobile-enabled mbl-menu-sub-link">
                         <div class="col-sm-3 hover-menu">
                             <a href="{{ base }}fitness" class="menu-heading" >FITNESS</a>
                             <a class="collapsible  PADhidden MDhidden"><icon ></icon></a>
                             <div class="menu contentJRM" >
                                <ul>
                                    <li><a href="{{ base }}fitness/body-building" class="main-menu ">BODY BUILDING</a></li>
                                    <li><a href="{{ base }}fitness/running" class="main-menu ">RUNNING</a></li>
                                    <li><a href="{{ base }}fitness/bicycling"  class="main-menu ">BICYCLING</a></li>
                                    <li><a href="{{ base }}fitness/surfing" class="main-menu ">SURFING</a></li>
                                    <li><a href="{{ base }}fitness" class="menu-sub-link ">SHOP NOW >></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3 hover-menu"><a href="{{ base }}politics" class="menu-heading">POLITICS</a>
                            <a class="collapsible  PADhidden MDhidden"><icon ></icon></a>
                            <div class="menu contentJRM" >
                                <ul >
                                    <li><a href="{{ base }}politics/pti" class="main-menu ">PTI</a></li>
                                    <li><a href="{{ base }}politics/pmln" class="main-menu ">PMLN</a></li>
                                    <li><a href="{{ base }}politics/ppp"  class="main-menu ">PPP</a></li>
                                    <li><a href="{{ base }}politics"  class="menu-sub-link ">SHOP NOW >></a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3 hover-menu"><a href="{{ base }}military" class="menu-heading">MILITARY</a>
                            <a class="collapsible  PADhidden MDhidden"><icon ></icon></a>
                            <div class="menu contentJRM" >
                                <ul>

                                    <li><a href="{{ base }}military/army" class="main-menu ">ARMY</a></li>
                                    <li><a href="{{ base }}military/navy" class="main-menu ">NAVY</a></li>
                                    <li><a href="{{ base }}military/air-force" class="main-menu ">AIR FORCE</a></li>
                                    <li><a href="{{ base }}military" class="menu-sub-link ">SHOP NOW >></a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3 hover-menu"><a href="{{ base }}funny-humor" class="menu-heading">FUNNY & HUMOR</a>
                            <a class="collapsible  PADhidden MDhidden"><icon ></icon></a>
                            <div class="menu contentJRM" >
                                <ul>
                                    <li><a href="{{ base }}funny-humor/geek" class="main-menu ">GEEK</a></li>
                                    <li><a href="{{ base }}funny-humor/humor" class="main-menu ">HUMOR</a></li>
                                    <li><a href="{{ base }}funny-humor" class="menu-sub-link ">SHOP NOW >></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12  mobile-enabled">
                        <div class="col-sm-3 hover-menu"><a href="{{ base }}quotes" class="menu-heading" >QUOTES</a>
                            <a class="collapsible  PADhidden MDhidden"><icon ></icon></a>
                            <div class="menu contentJRM" >
                                <ul >
                                    <li><a href="{{ base }}quotes/inspirational" class="main-menu ">INSPIRATIONAL</a></li>
                                    <li><a href="{{ base }}quotes/movies"  class="main-menu ">MOVIES</a></li>
                                    <li><a href="{{ base }}quotes/motivational"  class="main-menu ">MOTIVATIONAL</a></li>
                                    <li><a href="{{ base }}quotes/social-justice" class="main-menu ">SOCIAL JUSTICE</a></li>
                                    <li><a href="{{ base }}quotes/environment" class="main-menu ">ENVIRONMENT</a></li>
                                    <li><a href="{{ base }}quotes" class="menu-sub-link ">SHOP NOW >></a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3 hover-menu"><a href="{{ base }}professions" class="menu-heading" >PROFESSIONS</a>
                            <a class="collapsible  PADhidden MDhidden"><icon ></icon></a>
                            <div class="menu contentJRM" >
                                <ul >
                                    <li><a href="{{ base }}professions/doctor" class="main-menu ">DOCTOR</a></li>
                                    <li><a href="{{ base }}professions/dentist"  class="main-menu ">DENTIST</a></li>
                                    <li><a href="{{ base }}professions/fashion"  class="main-menu ">FASHION</a></li>
                                    <li><a href="{{ base }}professions/information-technology" class="main-menu ">INFORMATION TECHNOLOGY</a></li>
                                    <li><a href="{{ base }}professions/engineer" class="main-menu ">ENGINEERS</a></li>
                                    <li><a href="{{ base }}professions"  class="menu-sub-link ">SHOP NOW >></a></li>

                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-3 hover-menu"><a href="{{ base }}relationship" class="menu-heading" >RELATIONSHIP</a>
                            <a class="collapsible  PADhidden MDhidden"><icon ></icon></a>
                            <div class="menu contentJRM" >
                                <ul >
                                    <li><a href="{{ base }}relationship/dad" class="main-menu ">DAD</a></li>
                                    <li><a href="{{ base }}relationship/mom" class="main-menu ">MOM</a></li>
                                    <li><a href="{{ base }}relationship/brother" class="main-menu ">BROTHER</a></li>
                                    <li><a href="{{ base }}relationship/friendship" class="main-menu ">FRIENDSHIP</a></li>
                                    <li><a href="{{ base }}relationship" class="menu-sub-link ">SHOP NOW >></a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3 hover-menu"><a href="{{ base }}sports" class="menu-heading" >SPORTS</a>
                            <a class="collapsible  PADhidden MDhidden"><icon ></icon></a>
                            <div class="menu contentJRM">
                                <ul>
                                    <li><a href="{{ base }}sports/boxing" class="main-menu ">BOXING</a></li>
                                    <li><a href="{{ base }}sports/basket_ball" class="main-menu ">BASKET BALL</a></li>
                                    <li><a href="{{ base }}sports/cricket" class="main-menu ">CRICKET</a></li>
                                    <li><a href="{{ base }}sports/karate" class="main-menu ">KARATE</a></li>
                                   <li><a href="{{ base }}sports/soccer" class="main-menu ">SOCCER</a></li>
                                    <li><a href="{{ base }}sports" class="menu-sub-link ">SHOP NOW >></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12  mobile-enabled">
                        <div class="col-sm-6 hover-menu"><a href="{{ base }}zodiac" class="menu-heading" >ZODIAC</a>
                            <a class="collapsible  PADhidden MDhidden"><icon ></icon></a>
                            <div class="menu contentJRM" >
                                <ul class="col-sm-6">
                                    <li><a href="{{ base }}zodiac/aries" class="main-menu ">ARIES</a></li>
                                    <li><a href="{{ base }}zodiac/leo" class="main-menu ">LEO</a></li>
                                    <li><a href="{{ base }}zodiac/sagittarius"  class="main-menu ">SAGITTARIUS</a></li>
                                    <li><a href="{{ base }}zodiac/taurus" class="main-menu ">TAURUS</a></li>
                                    <li><a href="{{ base }}zodiac/virgo" class="main-menu ">VIRGO</a></li>
                                    <li><a href="{{ base }}zodiac/capricorn" class="main-menu ">CAPRICORN</a></li>
                                    <li><a href="{{ base }}zodiac/gemini" class="main-menu ">GEMINI</a></li>
                                </ul>
                                <ul class="col-sm-6">
                                    <li><a href="{{ base }}zodiac/libra" class="main-menu ">LIBRA</a></li>
                                    <li><a href="{{ base }}zodiac/aquarius" class="main-menu ">AQUARIUS</a></li>
                                    <li><a href="{{ base }}zodiac/cancer" class="main-menu ">CANCER</a></li>
                                    <li><a href="{{ base }}zodiac/scorpio" class="main-menu ">SCORPIO</a></li>
                                    <li><a href="{{ base }}zodiac/pisces" class="main-menu ">PISCES</a></li>
                                    <li><a href="{{ base }}zodiac" class="menu-sub-link ">SHOP NOW >></a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3 hover-menu">
                            <a href="{{ base }}independence-day" class="menu-heading" >INDEPENDENCE DAY</a>
                            <a href="{{ base }}powerwords" class="menu-heading" >POWER WORDS</a>
                            <a href="{{ base }}cities" class="menu-heading" >CITIES</a>
                            <a href="{{ base }}months" class="menu-heading" >MONTHS</a>
                            <a href="{{ base }}foods" class="menu-heading" >FOODS</a>
                            <a href="{{ base }}outdoor" class="menu-heading" >OUTDOOR</a>
                            <a href="{{ base }}emoji" class="menu-heading" >EMOJI</a>

                        </div>

                </div>

            </div>
        </div>
    </li>
    <li ><a href="{{ base  }}carve" class="clearfix"><span>Carve Fashion</span></a>


    </li>
    <li ><a href="{{ base  }}top-supplements" class="clearfix"><span>Top Supplements </span></a></li>
    <li class="with-sub-menu hover">
        <p class="close-menu"></p>
        <p class="open-menu"></p><a  class="clearfix"
        ><span>Kids Corner</span></a>
        <div class="sub-menu" style="width: 250px; right:-119px;">
            <div class="content">
                <p class="arrow" style="left: 110px;"></p><div class="row">
                    <div class="col-sm-12  mobile-enabled">
                        <div class="hover-menu">
                            <a href="{{ base }}kids-corner" class="clearfix menu-sub-link"><span>Kids Corner Home</span></a>
                            <div class="menu">
                                <ul><li><a href="{{ base }}baba-clothing" class="main-menu ">BABA CLOTHING </a></li>
                                    <li><a href="{{ base }}baby-clothing" class="main-menu ">BABY CLOTHING</a></li>
                                    <li><a href="{{ base }}baby-nest" class="main-menu ">BABY NEST</a></li>
                                    <li><a href="{{ base }}car-seat-and-stroller" class="main-menu ">CAR SEAT AND STROLLER</a></li>
                                    <li><a href="{{ base }}infant-clothes-babies" class="main-menu ">INFANT</a></li>
                                    <li><a href="{{ base }}baby-toys" class="main-menu ">TOYS</a></li>
                                </ul>
                            </div>


                        </div></div></div></div></div></li>
    <li style="display: none;" ><a href="{{ base  }}body_building_fitness/multivitamins" class="clearfix"><span>Multivitamins</span></a></li>
    <li class="with-sub-menu hover">
        <p class="close-menu"></p>
        <p class="open-menu"></p><a  class="clearfix"
        ><span>Bargain Center</span></a>
        <div class="sub-menu" style="width: 250px; right:-119px;">
            <div class="content">
                <p class="arrow" style="left: 110px;"></p><div class="row">
                    <div class="col-sm-12  mobile-enabled">
                        <div class="hover-menu">
                            <div class="menu">
                                <ul><li><a href="{{ base }}beauty" class="main-menu ">Beauty</a></li>
                                    <li><a href="{{ base }}general_items" class="main-menu ">General Items</a></li>
                                    <li><a href="{{ base }}health_care" class="main-menu ">Health Care </a></li>
                                    <li><a href="{{ base }}shapers" class="main-menu ">Shapers</a></li>
                                    <li><a href="{{ base }}shavers_trimers" class="main-menu ">Shavers & Trimers</a></li>
                                    <li><a href="{{ base }}straightener_curler_hair_dryer" class="main-menu ">Straightener, Curler & Hair Dryer</a></li>
                                </ul>
                            </div>


                        </div></div></div></div></div></li>
</ul>


<style>
    .collapsible {
        background-color:transparent;
        cursor: pointer;
        width:25px;
        border: none;
        outline: none;
        font-size: 15px;
        position: absolute;
        right: 2px;
        margin-top: -40px;
    }




</style>