{{ header }}
<div class="full-width">
    <div id="common-home" class="container">
        {{ content_top }}
    </div>
</div>
<div class="full-width">
    <div id="common-home" class="container">
        {% include 'ceptz/template/custom/department-categories-block.twig'  %}
        {% include 'ceptz/template/custom/tees-newsletter.twig'  %}

        <div id="content1" class="{{ class }}">
            {{column_left }}
        </div>
        <div id="content" class="{{ class }}">
            {{ content_bottom }}
        </div>
        {% include 'ceptz/template/custom/home-supplement-block.twig'  %}
        {% include 'ceptz/template/custom/nutrition-banner.twig'  %}
    </div>
</div>
{{ footer }}